<h1>Your Itineraries!</h1>
<ul>
  <% @itineraries.each do |itinerary| %>
  <li>
  <%= link_to "Trip Name: #{itinerary.name} // Destination: (#{itinerary.destinations})", itinerary_path(itinerary) %> </li>

<% end %>
</ul>
